$border: 1px solid #ddd;
$border-radius: 4px;

.logs-explorer {
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: $border-radius;
  padding: 16px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.header {
  font-size: 32px;
  margin-bottom: 20px;
}

.body {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.navigation {
  flex-grow: 0;
  min-width: 300px;
  max-width: 300px;
  border: $border;
  padding: 16px;
}

.content {
  flex-grow: 1;
  border: $border;
  padding: 16px;
  margin-left: 16px;
}

.controls {
  background-color: #fafafa;
  padding: 8px;
  border-radius: $border-radius;
  margin-bottom: 20px;
}
