<div
  [ngStyle]="style"
  class="logs-explorer"
>
  <div class="header">
    Logs Explorer
  </div>
  <div class="body">
    <div class="navigation">
      <z-spinner *ngIf="filesListState === dataLoadingState.Loading"></z-spinner>
      <div *ngIf="filesListState === dataLoadingState.Loaded">
        <ul>
          <li
            *ngFor="let fileName of filesList"
            [ngStyle]="{'fontWeight': fileName === selectedFileName ? 'bold' : 'normal'}"
          >
            {{fileName}}
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <z-info-box *ngIf="fileContentState === dataLoadingState.Initial">
        Please select a file.
      </z-info-box>
      <z-spinner *ngIf="fileContentState === dataLoadingState.Loading"></z-spinner>
      <div
        *ngIf="fileContentState === dataLoadingState.Loaded"
        class="controls"
      >
        <button type="button" (click)="downloadSelectedFile()">
          Download
        </button>
      </div>
      <div *ngIf="fileContentState === dataLoadingState.Loaded">
        {{fileContent?.log}}
      </div>
    </div>
  </div>
</div>
