.spinner,
.spinner:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.spinner {
  margin: 40px auto;
  font-size: 20px;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba(200, 200, 200, 0.5);
  border-right: 4px solid rgba(200, 200, 200, 0.5);
  border-bottom: 4px solid rgba(200, 200, 200, 0.5);
  border-left: 4px solid #666;
  transform: translateZ(0);
  animation: loader 1.1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
